@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');

@font-face {
  font-family: "Modern Era"; 
  font-weight: 400;
  src: local("ModernEraRegular"),
  url("../public/fonts/Modern Era Regular/ModernEra-Regular.otf") format('opentype');
}

@font-face {
  font-family: "Modern Era"; 
  font-weight: 500;
  src: local("ModernEraMedium"),
  url("../public/fonts/Modern Era Medium/ModernEra-Medium.otf") format('opentype');
}

@font-face {
  font-family: "Modern Era"; 
  font-weight: 600;
  src: local("ModernEraBold"),
    url("../public/fonts/Modern Era Bold/ModernEra-Bold.otf") format('opentype');
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-grey-500;
  }

  h1 {
    @apply text-7xl;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-3xl;
  }

  h4 {
    @apply text-2xl;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm;
  }

  p {
    @apply text-base;
  }

  .quick-view-summary {
    margin-right: 0rem;

    @media (max-width: 768px) {
      margin-right: -4rem;
    }
  }
}
