ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
OPTIMISTIC_ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ROPSTEN_URL=https://eth-ropsten.alchemyapi.io/v2/$ALCHEMY_KEY
GOERLI_URL=https://eth-goerli.alchemyapi.io/v2/$ALCHEMY_KEY
RINKEBY_URL=https://eth-rinkeby.alchemyapi.io/v2/$ALCHEMY_KEY
MNEMONIC="test test test test"
OPTIMISM_URL=https://mainnet.optimism.io
OPTIMISTIC_KOVAN_URL=https://kovan.optimism.io
