@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,600|Miriam+Libre:400");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./Button";
@import "./Layout";

@layer base {
  html {
    font-family: Libre Franklin;
  }

  h1 {
    @apply text-7xl text-primary-text dark:text-primary-text;
    font-family: Miriam Libre;
  }

  h2 {
    @apply text-5xl text-primary-text dark:text-primary-text;
    font-family: Miriam Libre;
  }

  h3 {
    @apply text-3xl text-primary-text dark:text-primary-text font-extralight;
    font-family: Miriam Libre;
  }

  h4 {
    @apply text-2xl text-primary-text dark:text-primary-text font-extralight;
    font-family: Miriam Libre;
  }

  h5 {
    @apply text-base text-primary-text dark:text-primary-text font-extralight;
    font-family: Miriam Libre;
  }

  p {
    @apply text-secondary-text dark:text-primary-text font-thin
  }

  textarea {
    @apply appearance-none block border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none placeholder:text-sm
  }

  input {
    @apply flex-1 block w-full rounded border border-tertiary-text py-2 px-3 focus:outline-none  placeholder:text-sm
  }
  label {
    @apply text-xs mb-2;
    font-family: Libre Franklin;
  }
  legend {
    @apply text-secondary-text font-normal text-xs mb-2;
    font-family: Libre Franklin;
  }
}

.icon {
  display: inline-block;
}
