name: package/contracts - Build -> Test
on:
  push:
  pull_request:
    branches:
      - main
jobs:
  tests:
    concurrency: ci-contract-${{ github.head_ref || github.run_id }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - uses: pnpm/action-setup@v2
        with:
          version: 7

      - uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'pnpm'

      - name: Install dependencies
        run: |
          pnpm install

      - name: Compile contract
        run: |
          pnpm hh-compile

      - name: Test contract
        run: |
          pnpm hh-test

  slither:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - uses: pnpm/action-setup@v2
        with:
          version: 7

      - uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'pnpm'

      - name: Install dependencies
        run: |
          pnpm install
      - name: Run slither
        uses: crytic/slither-action@v0.1.1
        with:
          node-version: 16
          target: ./packages/contracts
          slither-config: ./packages/contracts/slither.config.json
