name: package/grant-explorer - Build -> Test
on:
  push:
    branches:
      - main
      - release
  pull_request:
    branches:
      - "**"
jobs:
  build-and-deploy:
    concurrency: ci-grant-explorer-${{ github.head_ref || github.run_id }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - uses: pnpm/action-setup@v2
        with:
          version: 7

      - uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'pnpm'

      - name: Install Dependencies
        run: |
          pnpm install


      - name: Build Grant Explorer
        run: |
          pnpm re-build

#      - name: Test Grant Explorer
#        run: |
#          pnpm re-test
